@model SignalProfits.Web.Model.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .hpanel .panel-body {
        background: #f9f9f9 !important;
        border: 1px solid #e4e5e7 !important;
        border-radius: 2px !important;
        padding: 20px !important;
        position: relative !important;
    }

    .login-container {
        max-width: 420px !important;
        margin: auto !important;
    }

    .register-container {
        max-width: 500px !important;
        margin: auto;
    }

    h4 {
        font-size: 15px !important;
        font-weight: bold !important;
    }

    .required-label:after {
        content: "*";
        color: red;
    }
</style>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @if (@TempData["SuccessMsg"] != null)
            {
                <div class="form-group">
                    <div class="alert alert-success" id="cus-card-success-alert">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        <strong>Success! </strong>
                        @TempData["SuccessMsg"]
                    </div>
                </div>
            }
            @if (@TempData["ErrorMsg"] != null)
            {
                <div class="form-group">
                    <div class="alert alert-danger" id="cus-card-error-alert">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        <strong>Error! </strong>
                        @TempData["ErrorMsg"]
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">       
          <div class="col-md-6">
            <div class="hpanel">
                <h3 class="panel-body" style="color:red">
                    If this is your first time here, Please Register your account
                </h3>
            </div>

            <div class="hpanel">
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @class = "", id = "register" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <div class="form-group col-lg-6">
                                    <label class="required-label">First Name<i></i></label>
                                    @Html.TextBoxFor(model => model.FirstName, new { maxlength = 200, @class = "form-control", @placeholder = "First name", required = "First name is required" })
                                    @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Last Name</label>
                                    @Html.TextBoxFor(model => model.LastName, new { maxlength = 200, @class = "form-control", @placeholder = "Last name", })
                                </div>
                                <div class="form-group col-lg-12">
                                    <label class="required-label">Email</label>
                                    @Html.TextBoxFor(model => model.Email, new { maxlength = 200, @class = "form-control", @placeholder = "Email address", required = "Email is required", Type = "email" })
                                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                                    <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="required-label">Password</label>
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", id = "password", required = "Password is required" })
                                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                                    <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="required-label">Confirm Password</label>
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password", id = "confirm_password", required = "Confirm Password is required" })
                                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                                    <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>Phone</label>
                                    @Html.TextBoxFor(model => model.Phone, new { maxlength = 20, @class = "form-control", @placeholder = "Cell Phone" })
                                    <b class="tooltip tooltip-bottom-right">Please enter your cell phone number</b>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>Address</label>
                                    @Html.TextAreaFor(model => model.Address, new { maxlength = 1000, @class = "form-control", @placeholder = "Address" })
                                    <b class="tooltip tooltip-bottom-right">Please enter your address</b>
                                </div>
                                <div class="form-group col-lg-12">
                                    <button class="btn btn-danger btn-block" type="submit"><b>Register</b></button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6 login-container">           
            <div class="hpanel">
                <h3 class="panel-body">
                    If you already have password you can login
                </h3>
            </div>           
            <div class="hpanel">
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "", id = "loginForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="control-label required-label" for="username">Username</label>
                            @Html.TextBoxFor(model => model.Email, new {@id="txtEmail", @placeholder = "example@gmail.com", @class = "form-control", @title = "Please enter you email", @required = "" })
                        </div>
                        <div class="form-group">
                            <label class="control-label required-label" for="password">Password</label>
                            @Html.TextBoxFor(model => model.Password, new { @placeholder = "******", @class = "form-control", @title = "Please enter your password", @required = "", @type = "password" })
                        </div>
                        <button class="btn btn-success btn-block" type="submit"><b>Login</b></button>
                        <br />
                        <a style="color:blue;float:right" href="@Url.Action("ForgotPassword","Login")">Forgot Password?</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning">
            If you are having problems send email to:
            <a style="color:blue" href="mailto:cancel@signalprofits.com" target="_top">cancel@signalprofits.com</a>

        </div>
    </div>
</div>